body {
  font-family: arial, sans-serif;
}

h1 {
  color: #ab4cff;
  font-size: 42px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #1a032f;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding-bottom: 3px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 640px;
  margin: 40px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-image: linear-gradient(to top, #dce6ff 0%, #f8dad2);
}

.overview {
  margin-bottom: 30px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #530697;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #530697;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin: 25px 0px 5px;
}

.weather-forecast h3 {
  color: #545b62;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  height: 15px;
  padding-top: 5px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 54px;
  width: 54px;
}

.weather-forecast-temperature {
  text-align: center;
  color: #545b62;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.btn-primary {
  color: #fff;
  background-color: #530697;
  border-color: #530697;
}

.form-control {
  border-color: #530697;
  border: 1.4px solid #520597;
  color: #530697;
}

.weather-temperature .active {
  color: rgb(82 5 151);
  cursor: default;
}

a {
  color: #545b62;
  text-decoration: none;
  background-color: transparent;
}

#weather-description-btn li {
  list-style: none;
  background-color: #9faaff;
  width: 150px;
  line-height: 60px;
  text-align: center;
  list-style: none;
}

#weather-description-btn li a {
  text-decoration: none;
  color: #ffffff;
}
